body {
  padding: 0;
  margin: 0;
  background-color: #ede9e0;
}

.container {
  width: 100%;
  padding: 20px;
}
/* NAVBAR CLASSLARI */
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}
.nav-right a {
  margin: 20px;
  padding: 20px;
  font-size: 15px;
  color: black;

  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
.nav-left h2 {
  margin: 0 60px;
  padding: 5px;
  font-size: 30px;
  font-weight: 500;
  color: black;
  font-family: "Montserrat", sans-serif;
}
.nav-right {
  margin-right: 30px;
}
.nav-right a:hover {
  background-color: #cec9bc;
}
.nav-right ul li {
  display: inline-block;
}
/* NAVBAR CLASSLARI */

/*ANASAYFA CLASSLARI */
.content {
  height: 750px;
  background-color: #e9e0cc;
  border-radius: 50px;
  margin: 50px;
}
#frontend {
  padding: 40px 0 0 30px;
  font-size: 80px;
  color: black;
  font-family: "Montserrat", sans-serif;
}

#name {
  padding: 100px 0 0 30px;
  font-size: 50px;
  color: black;
  font-family: "Montserrat", sans-serif;
}
.content-p {
  padding-left: 30px;
  width: 600px;
  font-size: 15px;
  color: black;
  font-family: "Montserrat", sans-serif;
}
.content-button a {
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
}
.content-button {
  margin: 50px 0 0 20px;
  background-color: rgb(182, 167, 148);
  border-radius: 10px;
  border: none;
}
.content-button a:hover {
  opacity: 0.3;
}
/* ANASAYFA CLASSLARI */

/* ABOUTME CLASSLARI */
.aboutme {
  text-align: center;
  background-color: #e9e0cc;
  height: 700px;

  border-radius: 50px;
  margin: 130px 50px;
}
.aboutme h1 {
  font-size: 50px;
  color: black;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 20px;
}
.aboutme i {
  text-align: center;
  margin-bottom: 50px;
}
.aboutme p {
  font-size: 20px;
  color: black;
  font-family: "Montserrat", sans-serif;
  padding: 0px 30px;
}
/* ABOUTME CLASSLARI */

/* PROJECTS CLASSLARI */
.projects {
  text-align: center;
  background-color: #e9e0cc;
  height: 700px;

  border-radius: 50px;
  margin: 130px 50px;
}
.projects h1 {
  font-size: 50px;
  color: black;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 20px;
}
.projects i {
  text-align: center;
  margin-bottom: 50px;
}
.projects p {
  font-size: 20px;
  color: black;
  font-family: "Montserrat", sans-serif;
  padding: 0px 30px;
}
/* PROJECTS CLASSLARI */
/* CONTACT CLASSLARI */
.contact {
  text-align: center;
  background-color: #e9e0cc;
  height: 700px;
  border-radius: 50px;
  margin: 130px 50px;
}
.contact h1 {
  font-size: 50px;
  color: black;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 20px;
}
.contact i {
  text-align: center;
  margin-bottom: 50px;
}
.contact p {
  font-size: 20px;
  color: black;
  font-family: "Montserrat", sans-serif;
  padding: 0px 30px;
}

/* CONTACT CLASSLARI */

.contact1 i {
  padding: 0px 20px;
  text-align: center;
  color: black;
}
.contact2 i {
  margin-bottom: 10px;
  text-align: center;
}
.contact2 p {
  margin-bottom: 30px;
}
