* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: rgba(232, 236, 235, 0.644);
  font-family: "Open Sans", sans-serif;
  color: rgba(70, 16, 16, 0.863);
}

.container-header {
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgba(109, 23, 23, 0.863);
}
.container-header h1 {
  font-weight: 500;
}

.btn {
  background-color: rgba(109, 23, 23, 0.863);
  color: #fff;
}
#details {
  opacity: 0;
  margin: 50px 300px;
  text-align: left;
}

#details .card .card-header {
  font-size: 20px;
  background-color: rgba(175, 177, 176, 0.644);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#details .card .card-header h1 {
  font-weight: 600;
  font-size: 25px;

  margin-left: 10px;
  color: rgba(109, 23, 23, 0.863);
}
#details .card .card-header i {
  margin-left: 15px;
  margin-bottom: 5px;
  color: rgba(109, 23, 23, 0.863);
}
#details .card .card-body {
  background-color: rgba(232, 236, 235, 0.644);
}
ul {
  list-style: none;
  margin: 10px;
  text-align: left;
}
