@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #ffffff;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quote-container {
  width: auto;
  max-width: 1000px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 15px 40px 10px rgba(0, 0, 0, 0.2);
}
.quote-text {
  font-size: 2.75rem;
}
.long-quote {
  font-size: 2rem;
}
.fa-quote-left {
  font-size: 4rem;
  color: #1d9bf0;
}
h1 {
  color: #1d9bf0;
}
.quote-author {
  margin-top: 15px;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
}
.button-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
button {
  cursor: pointer;
  font-size: 1.2rem;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  color: #fff;
  background: #1d9bf0;
  outline: none;
  padding: 0.5rem 1.8rem;
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
}
button:hover {
  filter: brightness(110%);
  transform: translateY(3px);
}
button:active {
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}
.twitter-button:hover {
  transform: translateY(3px);
}

.fa-twitter {
  font-size: 1.5rem;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Media query */
@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 20px;
  }
  .quote-text {
    font-size: 2.5rem;
  }
}
