@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Bebas Neue, sans-serif;
  background: rgb(241, 241, 241);
}

h1 {
  text-align: center;
  font-size: 40px;
  letter-spacing: 10px;
  position: fixed;
  top: 50%;
  left: 38%;

  text-shadow: 0 2px 20px rgb(143, 135, 135);
  padding: 5px;
  border-radius: 7px;
  box-shadow: 30px;
  background: rgb(242, 236, 236);
}

/* Loader */
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Image Container */
.image-container {
  margin: 10px 30%;
}

.image-container img {
  width: 100%;
  margin-top: 5px;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 20px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 20%;
  }

  .image-container {
    margin: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 30px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 25%;
  }

  .image-container {
    margin: 10px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  h1 {
    font-size: 30px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 25%;
  }

  .image-container {
    margin: 10px;
  }
}
